<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Grid Company Of Bangladesh</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
    <style>
        .col-md-6 {
            text-align: left !important;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Power Grid Company Of Bangladesh", "BasicInformationOfAffectedPerson", "BasicInformationOfAffectedPersons", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Affected Person Information", "BasicInformationOfAffectedPerson", "BasicInformationOfAffectedPersons")</li>*@
                    <li>@Html.ActionLink("Update And View Information", "ShowDetailsInformation", "ShowDetailsInformation")</li>
                </ul>
                @Html.Partial("_LoginPartial")      
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>All Right Reserved &copy; @DateTime.Now.Year - Developed By CEGIS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
